
! Colours
xterm*termName: xterm-256color
xterm*background: Black
xterm*foreground: grey

! Font
xterm*faceName: IBM Plex Mono
xterm*faceSize: 10
xterm*renderFont: true

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! Large and Huge seem to be backwards or could be an issue with IBM Plex
! VT font menu: Large
xterm*faceSize4: 14
! VT font menu: Huge
xterm*faceSize5: 16

! Key bindings
xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>T:    dump-html() exec-formatted("/home/aaron/xterm-url-picker.sh '%t'", PRIMARY) \n\
    Alt <Btn1Up>:   exec-formatted("xdg-open '%t'", PRIMARY) \n



!    Ctrl Shift <Key>T:    dump-html() exec-formatted("rofi -dmenu '%t'", PRIMARY) \n\  ! Successfully launches rofi (but empty list)
!    Ctrl Shift <Key>T:    dump-html() exec-formatted("ls | rofi -dmenu '%t'", PRIMARY) \n\  ! Does NOT launch rofi
!    Pipe within exec-formatted() does not work.
!    Shell expansion does not work. ie. ~ and $HOME are not expanded.


!
! Ctrl Shift <Key>N above does not work for some reason, should launch a new xterm


! Couldnt get it to work as a one liner though
!Ctrl Shift <Key>T:    dump-html() exec-formatted("xdg-open $(grep -oE '(http|https)://[a-zA-Z0-9./?=_%%:-]*' ~/xterm.*.xhtml | rofi -dmenu)", PRIMARY) \n\
!Ctrl Shift <Key>T:    dump-html() exec-formatted("grep -oE '(http|https)://[a-zA-Z0-9./?=_%%:-]*' /home/aaron/xterm.*.xhtml | rofi -dmenu | xargs xdg-open", PRIMARY) \n\


! ~/xterm-url-picker.sh contents:
! #!/usr/bin/env bash
! xdg-open $(grep -hoE '(http|https)://[a-zA-Z0-9./?=_%:-]*' ~/xterm.*.xhtml | rofi -dmenu)
! rm ~/xterm.*.xhtml

